<div class="container">
<div class="row justify-content-center people-widget">
  <div class="col-md-3 section-heading">
    <h1>Officially Co-supervised PhD Students</h1>
  </div>
  <div class="col-3 col-sm-auto people-person">
      <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="https://eng.ox.ac.uk/media/7515/francisco-girbal-eiras.jpg?anchor=center&mode=crop&width=250&height=250&rnd=132778322260000000" alt="Avatar">
    <div class="portrait-title">
      <h2>Francisco Eiras</h2>
      <h3>PhD Student, University of Oxford</h3>
      <ul class="network-icon" aria-hidden="true">
    <li>
      <a href="https://fgirbal.github.io/" target="_blank" rel="noopener">
        <i class="fas fa-home"></i>
      </a>
    </li>
</ul>
    </div>
  </div>
  <div class="col-3 col-sm-auto people-person">
      <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="https://media-exp1.licdn.com/dms/image/C4D03AQE5XpLseetAPA/profile-displayphoto-shrink_400_400/0/1517239897911?e=1668643200&v=beta&t=B2t9tU-LxRy8xE6zDtlWVUdDooRTMFSd42k7qnVi51k" alt="Avatar">
    <div class="portrait-title">
      <h2>Csaba Botos</h2>
      <h3>PhD Student, University of Oxford</h3>
      <ul class="network-icon" aria-hidden="true">
    <li>
      <a href="https://www.linkedin.com/in/botos-csaba/" target="_blank" rel="noopener">
        <i class="fas fa-home"></i>
      </a>
    </li>
</ul>
    </div>
  </div>
  <div class="col-3 col-sm-auto people-person">
      <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="https://res.cloudinary.com/dwccfildc/c_limit,f_auto,w_1140/v1611324252/prod/af31e92fd2c497754cbfa1b527c8b6c7.jpg" alt="Avatar">
    <div class="portrait-title">
      <h2>Cornelius Emde</h2>
      <h3>PhD Student, University of Oxford</h3>
      <ul class="network-icon" aria-hidden="true">
    <li>
      <a href="https://www.bdi.ox.ac.uk/Team/cornelius-emde" target="_blank" rel="noopener">
        <i class="fas fa-home"></i>
      </a>
    </li>
</ul>
    </div>
  </div>

    </div>
