{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}
  
  <section id="people" class="home-section wg-people  "  >
    <div class="home-section-bg " >
      
    </div>
     <div class="container">
 <div class="row justify-content-center people-widget">
   
   <div class="col-md-12 section-heading">
     <h1>Co-supervised PhD Students</h1>
     
   </div>
   
 
   
 
   
   
 
   
 
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
    
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="https://eng.ox.ac.uk/media/7515/francisco-girbal-eiras.jpg?anchor=center&mode=crop&width=250&height=250&rnd=132778322260000000" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Christoph Mayer</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://2006pmach.github.io/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/joakim-johnander/avatar_hu39c33033176321e6d5e6d79ed92b01ee_137964_270x270_fill_lanczos_center_3.png" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Joakim Johnander</h2>
       
       <h3>PhD Student, Linköping Univ.</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://github.com/joakimjohnander" target="_blank" rel="noopener">
         <i class="fab fa-github"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/matthieu-paul/avatar_hue84f37df33ed47a7decb873ae8dc41d7_65368_270x270_fill_q75_lanczos_center.jpeg" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Matthieu Paul</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://www.linkedin.com/in/paulmatthieu/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/ardhendu-tripathi/avatar_huc77833991d940cfe36689977ca1f2fff_80518_270x270_fill_q75_lanczos_center.jpg" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Ardhendu Tripathi</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://vision.ee.ethz.ch/people-details.MjU0Mzc1.TGlzdC8zMjg5LC0xOTcxNDY1MTc4.html" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/andreas-lugmayr/avatar_hu9df086a80c4a406e90f3fcc2d8fb43ae_39632_270x270_fill_lanczos_center_3.png" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Andreas Lugmayr</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://twitter.com/andreaslugmayr" target="_blank" rel="noopener">
         <i class="fab fa-twitter"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/prune-truong/avatar_hubd2875f1288f348987881f0b3b7656ab_5979_270x270_fill_q75_lanczos_center.jpg" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Prune Truong</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://prunetruong.com/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/jan-nico-zach/avatar_hu6fedac00ae6c104667981001679a44e5_69299_270x270_fill_q75_lanczos_center.jpg" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Jan-Nico Zäch</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://vision.ee.ethz.ch/people-details.MjU0MzQz.TGlzdC8zMjg5LC0xOTcxNDY1MTc4.html" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/goutam-bhat/avatar_hub875a6248a959ead470bc2b53ad97003_336994_270x270_fill_lanczos_center_3.png" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Goutam Bhat</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://goutamgmb.github.io/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/evangelos-ntavelis/avatar_hu55de0f52c0b02f2d791f1d40443f68a5_1122408_270x270_fill_lanczos_center_3.png" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Evangelos Ntavelis</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="http://entavelis.com/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/mohamad-shahbazi/avatar_huee614deebdd4b33496a3ee43cb71bad4_246677_270x270_fill_lanczos_center_3.png" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Mohamad Shahbazi</h2>
       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="https://people.ee.ethz.ch/~mshahbazi/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
   
   
   
     
   
   <div class="col-12 col-sm-auto people-person">
     
     
       
       
     
     
       
       <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="/author/fredrik-gustafsson/avatar_hu490ee4d6a2e38732bcdd9f43520fdd15_16281_270x270_fill_q75_lanczos_center.jpg" alt="Avatar">
     
 
     <div class="portrait-title">
       <h2>Fredrik Gustafsson</h2>
       
       <h3>PhD Student, Uppsala Univ.</h3>
       <ul class="network-icon" aria-hidden="true">
   
     
     
     
       
     
     
     
     
     
       
     
     <li>
       <a href="http://www.fregu856.com/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
 
       
     </div>
   </div>
   
   
 </div>
 
 
     
 
     </div>
   </section>
