{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}
  
  <div class="home-section-bg " > </div>
  <div class="container">
  <div class="row justify-content-center people-widget">
    
  <div class="col-md-12 section-heading"> 
    <h1>Co-supervised PhD Students</h1>
  </div>
   

   
     
   
  <div class="col-12 col-sm-auto people-person">  
    <img width="270" height="270" loading="lazy" class="avatar avatar-circle" src="https://eng.ox.ac.uk/media/7515/francisco-girbal-eiras.jpg?anchor=center&mode=crop&width=250&height=250&rnd=132778322260000000" alt="Avatar">
     <div class="portrait-title">
       <h2>Christoph Mayer</h2>       
       <h3>PhD Student, ETH Zurich</h3>
       <ul class="network-icon" aria-hidden="true"> 
     <li>
       <a href="https://2006pmach.github.io/" target="_blank" rel="noopener">
         <i class="fas fa-home"></i>
       </a>
     </li>
   
 </ul>
     </div>
   </div>
   
   

   
 </div>
 
 
     
    {{ end }} 
     </div>
